body{
<<<<<<< HEAD
    background:  #;
=======
    background: #F79F94;
>>>>>>> 56b6ebc9389a4a4dba91bc87bc7b5e63adb9e86b
}

.g-body{
    width: 400px;
    margin: 0 auto;
}

.u-tabs{
    width: 100%;
    height: 40px;
    display: -webkit-flex;
    display: flex;
    align-items: stretch;
    background: #F47564;
}

.u-tabs div{
    flex-grow: 1;
    text-align: center;
    line-height: 40px;
    color: white;
    cursor: pointer;
}

.triangle{position: relative;}
.triangle::before{
    position: absolute;
    content: '';
    top:32px;
    left:60px;
    width: 16px;height: 16px;
    background: #F47564;
    transform: rotate(45deg);
    z-index: 4;
}


.u-tabs div+div{
    border-left: 1px dotted white;
} 

.u-filter{
    position: relative;
    width: 100%;
    text-align: center;
    padding:18px 0;
    box-shadow: 1px 0 0 #F47564 inset,-1px 0 0 #F47564 inset;
    border-bottom: 1px solid gray;
    background: white;
}

.fa-search{
    position: relative;
    color: gray;
    left:20px;
}

.filter{
    width: 280px;
    padding-left: 20px;
    border-width: 1px; 
    border-radius: 10px/50%;
    outline: none;
}

.u-cards{
    width: 100%;
    background: white;
    box-shadow: 1px 0 0 #F47564 inset,-1px 0 0 #F47564 inset,0 1px 0 #F47564;
}

.card{
    box-sizing: border-box;
    width: 100%;
    height:70px;
    cursor: pointer;
}

.card a{
    display: inline-block;
    width: 400px;
    height: 70px;
}

.card img{
    float: left;
    display: inline-block;
    width: 50px;height: 50px;
}

.card .content{
    display: inline-block;
    width: 200px;
    height: 50px;
}

 .card .content .username{
    margin: 0;
}

.card .content .description{
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
    width: 220px;
    height: 20px;
} 

.card .status{
    float: right;
    display: inline-block;
}

/* .card{
    width: 100%;
    height: 50px;
    padding: 10px 20px;
    display: flex;
    align-items: stretch;
    cursor: pointer;
}



.card img{
    flex-basis: 50px;
}

.card .content{
    flex-basis: 300px;
}

.card .content .username{
    line-height: 35px;
    padding-left: 10px;
}

.card .content .description{
    line-height: 15px;
}

.card .description{
    line-height: 50px;
    overflow: hidden;
}
 */
